// Navigation code here

.nav-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  .outer-navbar {
    width: 100%;
    background-color: @footer-background;
    border: 1px double #e0e0e0;
    @media @phone {
      border: none;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    .set-desktop-width();

    h1 {
      text-align: center;
      font-size: 4rem;
      margin: 10px 0;
    }

    nav {
      display: flex;
      justify-content: center;

      a {
        font-size: 1.6rem;
        text-decoration: none;
        color: @nav-font;
        margin: 10px 15px;
      }
    }

  }

  .main-header-img {
    .set-desktop-width();
    border-radius: 5px;
  }
}